body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.m-1 { margin-top: 1rem !important; }
.m-2 { margin-top: 2rem !important; }
.m-3 { margin-top: 3rem; }
.m-4 { margin-top: 4rem; }
.m-5 { margin-top: 5rem; }
.m-6 { margin-top: 6rem !important; }
.m-7 { margin-top: 7rem; }
.m-8 { margin-top: 8rem; }
.m-9 { margin-top: 9rem; }
.m-10 { margin-top: 10rem; }
.m-11 { margin-top: 11rem; }

.ui.dimmer {
  background-color: rgba(0,0,0,.6) !important;
}

.maxWidth {
  max-width: 1300px;
  margin-left: auto !important;
  margin-right: auto !important;
}
